/* .post-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  background: #020007ad;
  color: white;
} */

.post-container {
  min-height: 100vh;
  background: #0e0e10;
  color: white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header */
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c4ef6;
  padding: 14px 16px;
  /* border-bottom: 1px solid #222; */
}

.header-title {
  font-weight: 600;
}

.header-btn {
  background: none;
  border: none;
  color: #6c4ef6;
  /* color: #ff6a00; */
  font-weight: 600;
  cursor: pointer;
}

.header-btn.discard {
  color: #999;
}

/* Title */
.title-input {
  padding: 16px;
  font-size: 18px;
  border: none;
  /* outline: none; */
  outline: 2px solid #222;
  /* outline: 2px solid rgb(45, 44, 44); */
  background: transparent;
  color: white;
  /* border-bottom: 1px solid #222; */
  /* max-width: 40vh; */
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.post-content {
  max-width: 100vh;          /* feels very “mobile app” */
  margin: 0 auto;            /* centers the column */
  width: 90%;
}


.title-input::placeholder {
  color: #777;
}

/* Notes */
.notes-input {
  padding: 16px;
  font-size: 15px;
  min-height: 100px;
  resize: none;
  border: none;
  outline: 2px solid #222;
  background: transparent;
  color: white;
  width: 100%;
  border-radius: 10px;
  /* border-bottom: 1px solid #222; */
}

.notes-input::placeholder {
  color: #777;
}

/* Activity card */
.activity-card {
  margin: 16px;
  padding: 16px;
  background: #18181b;
  border-radius: 12px;
}

.activity-type {
  font-weight: 600;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.activity-meta {
  color: #aaa;
  font-size: 14px;
}

/* Media */
.media-upload {
  padding: 0 16px;
  margin-bottom: 10px;
}

.media-btn {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px dashed #333;
  border-radius: 10px;
  /* color: #ff6a00; */
  color: #6c4ef6;
  font-weight: 600;
  cursor: pointer;
}

/* Visibility */
.visibility-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px; */
  /* border-top: 1px solid #222; */
}

.visibility-row select {
  background: #18181b;
  color: white;
  border: none;
  outline: 2px solid #222;
  width: 100%;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 15px;
  margin-bottom: 15px;
}

/* Resume */
.resume-btn {
  margin: 16px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  color: #6c4ef6;
  /* background: #6c4ef6; */
  /* background: #ff6a00; */
  /* color: white; */
  font-weight: 700;
  cursor: pointer;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
